<!DOCTYPE html>
<html>

<body>

<h1>Uber</h1>

<div class="header">
  <div>
    <img src="assets/images/uber1.png" alt="Uber" class="responsive" >
    <h2>Modo celebrando-nuestras-aventuras-del-2021.</h2>
    <p>Gracias por elegir a Uber para hacer que este año se sintiera un poco más cercano a lo normal. Mira debajo algunos de nuestros momentos especiales.</p>
    <img src="assets/images/2021.png" alt="2021" class="responsive">
    <br>
    <img src="assets/images/scroll.PNG" alt="scroll" class="center">
    <h2>Este 2021 tuvimos muchos momentos para disfrutar.</h2>
    <h4>Toma una captura de pantalla y usa #ModoUber2021 para compartir tus mejores momentos.</h4>
  </div>

</div>


<div class="grid">
  <img src="assets/images/left1.png" alt="left1" class="responsive" >
  <img src="assets/images/right1.png" alt="right1" class="responsive" >
  <img src="assets/images/left1.png" alt="left2" class="responsive" >
  <img src="assets/images/right1.png" alt="right2" class="responsive" >
  <img src="assets/images/left1.png" alt="left3" class="responsive" >
  <img src="assets/images/right1.png" alt="right3" class="responsive" >
</div>

<div>
  <h2>Estamos ansiosos por saber qué sigue.</h2>
  <h4>Toma una captura de pantalla y usa #ModoUber2021 para compartir tus mejores momentos.</h4>
  <img src="assets/images/empecemos.PNG" alt="empecemos" class="center">
  <img src="assets/images/bottom.png" alt="bottom" class="responsive">
</div>

<div class="mensaje">
  <p>Únicamente para Colombia y Honduras: Para efectos de claridad, en caso de que en la presente comunicación se muestre la palabra "viaje" y/o "conducir", éstas significarán "arrendamiento" y/o "realizar un arrendamiento". Asimismo, en caso de presentarse la palabra "socio conductor", “socio” y/o "conductor", éstas significarán "arrendador".</p>
</div>

</body>
</html>
